[destination_db_conn]
host = "127.0.0.1"
port = 15432
database = "xnat"
user = "xnat"
password = "xnat"

sslmode = "verify-full"
sslrootcert = "/path/to/server-ca.pem"
sslcert = "/path/to/client-cert.pem"
sslkey = "/path/to/client-key.pem"