[tool.xmigrate.migrate]
source = "https://xnat.example"
source_project = "source_project"
destination_url = "https://another-xnat.example"
destination_user = "user"
destination_password = "password"
destination_project = "dest_project"
destination_secondary_id = "Dest ID"
destination_project_name = "Destination Project"
