[tool.xmigrate.migrate]
source = "https://xnat.example"
source_project = '["proj1", "proj2"]'
destination = "https://another-xnat.example"
destination_user = "user"
destination_password = "password"
destination_project = '["proj11", "proj12"]'
destination_secondary_id = '["Dest ID11", "Dest ID12"]'
destination_project_name = '["Destination Project 11", "Destination Project 12"]'
